node_modules/

/build
*.cmake
CMakeCache.txt
/.vscode
cmake_install.cmake
/.built
/.configured_*
/.prepared
/.quilt_checked
/.source_dir
cmake_install.*
CMakeCache.txt
install_manifest.txt
CMakeFiles/
bulb_controller
**/Makefile
ipkg-pistachio/
ipkg-install/
